{% extends 'base.html.twig' %}

{% block title %}Hello SasController!{% endblock %}

{% block body %}
<nav class="homeConatainer sb-sidenav-dark">
    <div class="color sb-nav-link-icon">SAS</div>
    <div>{{ 'now'|date('d - m -Y') }}</div>
    <div class="sb-nav-link-icon"><a class="color" href={{ path('app_logout') }}> DECONNEXION</a></div>  
</nav>
<div class="homeConatainer">
    {{form_start(salesForm,{'attr': {'id':"vente","class" :"homeConatainer" }})}}
    {{ form_row(salesForm.type,{'attr': {"class" :"type" }}) }}
     <button class="vente btn type" >Ok</button>
    {{form_end(salesForm)}}
</div>
{% endblock %}
