{% extends 'base.html.twig' %}

{% block title %}SAS{% endblock %}

{% block body %}
{# <nav class="homeConatainer navbar navbar-expand-lg navbar-light bg-dark">
    <div class="color sb-nav-link-icon">SAS</div>
    <div class="color">{{ 'now'|date('d - m -Y') }}</div>
    <div class="sb-nav-link-icon"><a class="color" href={{ path('app_home') }}> ACCEUIL</a></div>  
    {% if app.user %}
        <div class="sb-nav-link-icon"><a class="color" href={{ path('app_logout') }}> DECONNEXION</a></div>        
    {% endif %}
</nav> #}
    <div class="number first">SAS :<span class="result">{{count}}</span></div>
    <div class="number">SAS/MOIS :<span class="monthSales"> {{monthSales}}</span></div>
<div class="homeConatainer" id="homeConatainer">
    <div class="hidden pouce">
        <i class="fa-solid fa-thumbs-up fa-5x"></i>
    </div>
    {{form_start(salesForm,{'attr': {'id':"vente","class" :"homeConatainer" }})}}
     <button class="vente but type" data-url={{ path('app_sas')}}><i class="fa-solid fa-hand-peace"></i></button>
    {{form_end(salesForm)}}
    <div id="can">
        <div id="loader"></div>
        <canvas id="myChart"></canvas>
    </div>
</div>

{% endblock %}
