{% extends 'base.html.twig' %}

{% block title %}Hello PhraseController!{% endblock %}

{% block body %}
<div class="textcontainer">
    <div class="menu">
        <div class="menuItem" id="write"><i class="fa-solid fa-pen"></i></div>
        <div class="menuItem" id="read"><i class="fa-brands fa-readme"></i></div>
    </div>
    <div class="write hidden">
    {{form_start(phraseForm,{'attr': {'id':"vente","class" :"homeConatainer" }})}}
        <div>
        <button class=" but type add-another-collection-widget" <i class="fa-solid fa-hand-peace"></i></button>
        </div>
        <div class="text">
            {{ form_widget(phraseForm.category, { 'attr': {'class': '', 'id':''} }) }}
            <input type="textarea" id="phrase_form_Texte" name="phrase_form[Texte]" value="" class="text" />
        </div>
        {{form_end(phraseForm)}}
    </div>
    <div class=" read hidden">
        <div class="menu">
            <div class="menuItem" id="mail"><i class="fa-solid fa-envelope-open-text"></i></div>
            <div class="menuItem" id="chat"><i class="fa-brands fa-rocketchat"></i></div>
            <div class="menuItem" id="divers"><i class="fa-solid fa-object-group"></i></div>
        </div>
        <div class="homeConatainer">
            {% for phrase in list %}
                <div class="phrase  {{ phrase.category }} hidden" title="Cliquez pour copier">
                    <form action="" id="{{ phrase.id }}">
                        <input type="hidden" name="id" value="{{ phrase.id }}">
                    </form>
                    <div class="delete" data-id="{{ phrase.id }}"  value="{{ phrase.id }}">X</div>
                    <div class="copy">
                        {{ phrase.texte|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
